.Main{
    border: 2px solid black;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}
.Main input{
    font-size: 16px;
    width: 80%;
}
.Main button{
    font-size: 14px;
    padding: 5px;
}